/* screen - o-nas */

body {
  background-image: url('../img/stars-1654074.jpg') !important;
}

.o-nas {
  background-color: var(--white);
  height: 2627px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.o-nas .moon-g74254a1b2_1920-2-vc27VO {
  background-color: transparent;
  height: 609px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.o-nas .rectangle-39-vc27VO {
  background-color: transparent;
  height: 609px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.o-nas .rectangle-40-vc27VO {
  background-color: var(--log-cabin);
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 91px;
  left: 92px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  transform: rotate(-0.19deg);
  width: 1256px;
}

.o-nas .text_label-vc27VO {
  background-color: transparent;
  height: 14px;
  left: 902px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 15px #bf33f1;
  top: 52px;
  width: auto;
}

.o-nas .spannjc1e-RylBxx {
}

.o-nas .text_label-gsq8nZ {
  background-color: transparent;
  height: 14px;
  left: 988px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 15px #bf33f1;
  top: 52px;
  width: auto;
}

.o-nas .spanpf1lb-fxxrMR {
}

.o-nas .text_label-VxaOAa {
  background-color: transparent;
  height: 14px;
  left: 1079px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 15px #bf33f1;
  top: 53px;
  width: auto;
}

.o-nas .spanuf3sz-nui5Ge {
}

.o-nas .text_label-J1U9Zr {
  background-color: transparent;
  height: 14px;
  left: 1215px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 15px #bf33f1;
  top: 52px;
  width: auto;
}

.o-nas .spannfe9rj-xusgZD {
}

.o-nas .text_label-gNeswE {
  background-color: transparent;
  height: 14px;
  left: 801px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 15px #bf33f1;
  top: 52px;
  width: auto;
}

.o-nas .spangmtnm-pbzsco {
}

.o-nas .group-104-vc27VO {
  background-color: transparent;
  height: 47px;
  left: 367px;
  position: absolute;
  top: 36px;
  width: 217px;
}

.o-nas .rectangle-3-9crgB5 {
  background-color: #515151;
  border-radius: 10px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}

.o-nas .x-9crgB5 {
  background-color: transparent;
  height: 11px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: 106px;
}

.o-nas .spanylohy-IqqU0d {
}

.o-nas .lfoog-2-vc27VO {
  background-color: transparent;
  height: 92px;
  left: 118px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 230px;
}

.o-nas .bxsearch-alt-vc27VO {
  background-color: transparent;
  height: 25px;
  left: 549px;
  mix-blend-mode: normal;
  position: absolute;
  top: 47px;
  width: 25px;
}

.o-nas .group-131-vc27VO {
  background-color: transparent;
  height: 311px;
  left: 87px;
  position: absolute;
  top: 246px;
  width: 501px;
}

.o-nas .start-up-factory-4BViHd {
  background-color: transparent;
  height: 184px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 8px;
  width: 489px;
}

.o-nas .spand0znl-Z6D3yB {
}

.o-nas .start-up-factory-yr3fdW {
  background-color: transparent;
  height: 184px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 489px;
}

.o-nas .text_label-4BViHd {
  background-color: transparent;
  height: 19px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 192px;
  width: 474px;
}

.o-nas .spanratpa-yXEy3c {
}

.o-nas .line-3-4BViHd {
  background-color: transparent;
  height: 1px;
  left: 5px;
  position: absolute;
  top: 188px;
  width: 490px;
}

.o-nas .group-104-4BViHd {
  background-color: transparent;
  height: 61px;
  left: 29px;
  position: absolute;
  top: 250px;
  width: 432px;
}

.o-nas .group-15-uyPlCP {
  background-color: transparent;
  height: 61px;
  left: 225px;
  position: absolute;
  top: 0px;
  width: 209px;
}

.o-nas .rectangle-6-AMiOpE {
  background-color: transparent;
  height: 1px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.o-nas .text_label-AMiOpE {
  background-color: transparent;
  height: 15px;
  left: 45px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 23px;
  width: auto;
}

.o-nas .spanxvcf1-9Nq9EX {
}

.o-nas .group-14-uyPlCP {
  background-color: transparent;
  height: 61px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 209px;
}

.o-nas .rectangle-5-X0w28a {
  background-color: transparent;
  height: 61px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 207px;
}

.o-nas .text_label-X0w28a {
  background-color: transparent;
  height: 15px;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 23px;
  width: auto;
}

.o-nas .spanxv80k-9lVpjx {
}

.o-nas .rectangle-42-vc27VO {
  background-color: #4f4f4f;
  height: 623px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 608px;
  width: 1440px;
}

.o-nas .rectangle-43-vc27VO {
  background-color: transparent;
  height: 574px;
  left: 47px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 644px;
  width: 588px;
}

.o-nas .rectangle-44-vc27VO {
  background-color: #afafaf;
  height: 623px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1231px;
  width: 1440px;
}

.o-nas .rectangle-45-vc27VO {
  background-color: transparent;
  height: 452px;
  left: 913px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1358px;
  width: 608px;
}

.o-nas .x-vc27VO {
  background-color: transparent;
  height: 92px;
  left: 264px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1266px;
  width: 912px;
}

.o-nas .span26b05j-q77233 {
}

.o-nas .x21-10-vc27VO {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1387px;
  width: 820px;
}

.o-nas .span1u28z-fxocuf {
}

.o-nas .group-122-vc27VO {
  background-color: transparent;
  height: 43px;
  left: 60px;
  position: absolute;
  top: 1740px;
  width: 959px;
}

.o-nas .x-kO3lwi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 957px;
}

.o-nas .spanhml8d-WtrKrs {
}

.o-nas .rectangle-50-vc27VO {
  background-color: transparent;
  height: 373px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 2188px;
  width: 1441px;
}

.o-nas .rectangle-51-vc27VO {
  background-color: #222222cc;
  height: 373px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2188px;
  width: 1441px;
}

.o-nas .email-msharabarin05mailru-vc27VO {
  background-color: transparent;
  height: 15px;
  left: 1067px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2327px;
  width: auto;
}

.o-nas .span0-oaIyTy {
}

.o-nas .span1-oaIyTy {
}

.o-nas .x7-777-777-77-77-vc27VO {
  background-color: transparent;
  height: 15px;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2345px;
  width: auto;
}

.o-nas .span0-LTe70k {
}

.o-nas .span1-LTe70k {
}

.o-nas .copyright-all-rights-vc27VO {
  background-color: transparent;
  height: 15px;
  left: 966px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2540px;
  width: auto;
}

.o-nas .spandwo1z-Jko2BW {
}

.o-nas .email-vlad-karachkov321gmailcom-vc27VO {
  background-color: transparent;
  height: 15px;
  left: 1042px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2291px;
  width: auto;
}

.o-nas .span0-o2sxcb {
}

.o-nas .span1-o2sxcb {
}

.o-nas .x7-777-777-77-77-gsq8nZ {
  background-color: transparent;
  height: 15px;
  left: 1074px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2309px;
  width: auto;
}

.o-nas .span0-5dJAxl {
}

.o-nas .span1-5dJAxl {
}

.o-nas .group-121-vc27VO {
  background-color: transparent;
  height: 294px;
  left: 75px;
  position: absolute;
  top: 2226px;
  width: 527px;
}

.o-nas .group-119-MpZVnH {
  background-color: transparent;
  height: 58px;
  left: 24px;
  position: absolute;
  top: 236px;
  width: 446px;
}

.o-nas .akar-iconsinstagram-fill-znuqpx {
  background-color: transparent;
  height: 56px;
  left: 130px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 56px;
}

.o-nas .brandicofacebook-rect-znuqpx {
  background-color: transparent;
  height: 56px;
  left: 390px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 56px;
}

.o-nas .akar-iconstelegram-fill-znuqpx {
  background-color: transparent;
  height: 56px;
  left: 260px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 56px;
}

.o-nas .cibvk-znuqpx {
  background-color: transparent;
  height: 56px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 56px;
}

.o-nas .group-118-MpZVnH {
  background-color: transparent;
  height: 211px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 533px;
}

.o-nas .start-up-factory-O9F8QU {
  background-color: transparent;
  height: 184px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 8px;
  width: 521px;
}

.o-nas .spanuau7v-QHCkpr {
}

.o-nas .start-up-factory-oCPzHM {
  background-color: transparent;
  height: 184px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 498px;
}

.o-nas .text_label-O9F8QU {
  background-color: transparent;
  height: 19px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 192px;
  width: 469px;
}

.o-nas .spanw028x-za8WR6 {
}

.o-nas .line-2-O9F8QU {
  background-color: transparent;
  height: 1px;
  left: 5px;
  position: absolute;
  top: 188px;
  width: 484px;
}

.o-nas .line-6-vc27VO {
  background-color: transparent;
  height: 1px;
  left: 693px;
  position: absolute;
  top: 2277px;
  width: 87px;
}

.o-nas .line-7-vc27VO {
  background-color: transparent;
  height: 1px;
  left: 856px;
  position: absolute;
  top: 2277px;
  width: 87px;
}

.o-nas .line-8-vc27VO {
  background-color: transparent;
  height: 1px;
  left: 1030px;
  position: absolute;
  top: 2278px;
  width: 318px;
}

.o-nas .text_label-2v0PTf {
  background-color: transparent;
  height: 15px;
  left: 696px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2258px;
  width: auto;
}

.o-nas .span5oig4-2nrLPx {
}

.o-nas .text_label-vgsmrn {
  background-color: transparent;
  height: 15px;
  left: 868px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2258px;
  width: auto;
}

.o-nas .spancd8jm-xJxxv2 {
}

.o-nas .text_label-tiCFrl {
  background-color: transparent;
  height: 15px;
  left: 1118px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2259px;
  width: auto;
}

.o-nas .spanjxbaz-umBUWk {
}

.o-nas .text_label-Up7Svu {
  background-color: transparent;
  height: 14px;
  left: 705px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 10px #bf33f1;
  top: 2296px;
  width: auto;
}

.o-nas .spanh5mze-0krMbx {
}

.o-nas .text_label-P5wgju {
  background-color: transparent;
  height: 14px;
  left: 844px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 10px #bf33f1;
  top: 2296px;
  width: auto;
}

.o-nas .spanpoiilf-YVmzjS {
}

.o-nas .text_label-ib1WWn {
  background-color: transparent;
  height: 14px;
  left: 715px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 10px #bf33f1;
  top: 2319px;
  width: auto;
}

.o-nas .spanf708n-SuPy53 {
}

.o-nas .text_label-JwEYR3 {
  background-color: transparent;
  height: 14px;
  left: 837px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 10px #bf33f1;
  top: 2319px;
  width: auto;
}

.o-nas .spansrvxh-6BtcNV {
}

.o-nas .text_label-PVFMXP {
  background-color: transparent;
  height: 14px;
  left: 711px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 10px #bf33f1;
  top: 2345px;
  width: auto;
}

.o-nas .span3fdh-hRkVx0 {
}

.o-nas .text_label-wc7eXY {
  background-color: transparent;
  height: 14px;
  left: 845px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 10px #bf33f1;
  top: 2345px;
  width: auto;
}

.o-nas .spangkhc2-lQqnz7 {
}

.o-nas .text_label-9hKmvX {
  background-color: transparent;
  height: 14px;
  left: 684px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 10px #bf33f1;
  top: 2370px;
  width: auto;
}

.o-nas .spangsvdy-P2fy2z {
}

.o-nas .text_label-kYhM0H {
  background-color: transparent;
  height: 14px;
  left: 861px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 10px #bf33f1;
  top: 2370px;
  width: auto;
}

.o-nas .span2cirh-KgsGqz {
}

.o-nas .text_label-jHrAyO {
  background-color: transparent;
  height: 14px;
  left: 699px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 10px #bf33f1;
  top: 2397px;
  width: auto;
}

.o-nas .span0xbmh-jPXCEM {
}

.o-nas .text_label-wxTkHt {
  background-color: transparent;
  height: 14px;
  left: 845px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 10px #bf33f1;
  top: 2397px;
  width: auto;
}

.o-nas .spannen0j-IXatH4 {
}

.o-nas .uiwcopyright-vc27VO {
  background-color: transparent;
  height: 15px;
  left: 944px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2540px;
  width: 496px;
}

.o-nas .rectangle-52-vc27VO {
  background-color: #c4c4c4;
  height: 335px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1853px;
  width: 1440px;
}

.o-nas .image-4-vc27VO {
  background-color: transparent;
  height: 342px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1854px;
  width: 1439px;
}

.o-nas .seo-10-1000-email-vc27VO {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-gotham_pro-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 733px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 791px;
  width: 568px;
}

.o-nas .spanzxqlek-oHvsXp {
  font-style: normal;
}

.o-nas .text_label-9VfASW {
  background-color: transparent;
  height: 46px;
  left: 615px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 664px;
  width: auto;
}

.o-nas .span7fen1-fVqgmS {
}

.o-nas .group-124-vc27VO {
  background-color: transparent;
  height: 438px;
  left: 747px;
  position: absolute;
  top: 127px;
  width: 583px;
}

.o-nas .rectangle-4-TdywL4 {
  background-color: transparent;
  height: 438px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 583px;
}

.o-nas .group-20-TdywL4 {
  background-color: transparent;
  height: 48px;
  left: 119px;
  position: absolute;
  top: 28px;
  width: 344px;
}

.o-nas .group-18-OwcMB0 {
  background-color: transparent;
  height: 48px;
  left: 175px;
  position: absolute;
  top: 0px;
  width: 172px;
}

.o-nas .group-19-OwcMB0 {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 172px;
}

.o-nas .group-26-TdywL4 {
  background-color: transparent;
  height: 83px;
  left: 121px;
  position: absolute;
  top: 124px;
  width: 343px;
}

.o-nas .x-CqOAkl {
  background-color: transparent;
  height: 14px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.o-nas .spanieen3-8OMDAx {
}

.o-nas .group-24-CqOAkl {
  background-color: transparent;
  height: 55px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 343px;
}

.o-nas .rectangle-36-LqWx3H {
  background-color: transparent;
  height: 55px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 341px;
}

.o-nas .x-LqWx3H {
  background-color: transparent;
  height: 12px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 21px;
  width: auto;
}

.o-nas .span3tj94g-Tq2xP9 {
}

.o-nas .group-25-TdywL4 {
  background-color: transparent;
  height: 83px;
  left: 121px;
  position: absolute;
  top: 221px;
  width: 343px;
}

.o-nas .text_label-8Bxo0A {
  background-color: transparent;
  height: 14px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.o-nas .spanktene-pYxevx {
}

.o-nas .group-23-8Bxo0A {
  background-color: transparent;
  height: 82px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 345px;
}

.o-nas .rectangle-37-9xDuGA {
  background-color: transparent;
  height: 55px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 27px;
  width: 341px;
}

.o-nas .x-9xDuGA {
  background-color: transparent;
  height: 12px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 48px;
  width: auto;
}

.o-nas .spanhp0i1-WHrZ1u {
}

.o-nas .x-soAOkd {
  background-color: transparent;
  height: 12px;
  left: 237px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.o-nas .spanmdird-7FIbm6 {
}

.o-nas .group-22-TdywL4 {
  background-color: transparent;
  height: 63px;
  left: 192px;
  position: absolute;
  top: 318px;
  width: 201px;
}

.o-nas .rectangle-34-B14cjb {
  background-color: #5919ac;
  border-radius: 30px;
  height: 63px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 199px;
}

.o-nas .text_label-B14cjb {
  background-color: transparent;
  height: 14px;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  width: auto;
}

.o-nas .spanazsfng-yWJZWs {
}

